.main {
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
}

.headerField {
    display: inline-block;
    display: flex;
    justify-content:space-between;
    width: 100%;
}

.headerField h1 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-right: 85px;
}

.budgets {
    margin-right: 10px;
    border-radius: 5px;
    background-color: #448EE4;
    text-align: center;
    color: white;
    width: 110px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.expenses {
    margin-right: 10px;
    border-radius: 5px;
    background-color: white;
    border: #448EE4 1px solid;
    text-align: center;
    color:#448EE4;
    width: 110px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.budgets:hover {
    color: #448EE4;
    background-color: white;
    border: #448EE4 1px solid;
}

.header-container {
    display: inline-block;
    display: flex;
    justify-content:space-between;
    width: 100%;
    margin-top: 20px;
    border: 1px solid rgba(173, 172, 172, 0.075);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 100px;
    background-color: whitesmoke;
    border-radius: 20px;
}

.header-container h1 {
    font-size: 20px;
    font-weight:450;
    color: black;
    margin-right: 8px;
    margin-left: 10px;
    margin-top: 35px;
}

.header-container button {
    border: 2px solid #448EE4;
    margin-right: 10px;
    margin-top: 30px;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    color: #448EE4;
}

/**********************************/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    width: 400px;
}

.modal-content h2 {
    color: #448EE4;
}

.modal-content input {
    margin-bottom: 10px;
    padding: 5px;
    width: 80%;
    display: inline-block;
}

.modal-content button {
    display: block;
    margin: 5px;
    padding: 5px 10px;
    border: 2px solid #448EE4;
    width: 100%;
    border-radius: 30px;
    color: #448EE4;
}